@font-face {
    font-family: 'TrebuchetMS';
    src: url(fonts/TREBUCBD.ttf);
}

/* NAVBAR CODE */
body {
    margin:0;
    overflow: hidden;
}

.navbar {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    /* display: inline-block; */
    float: left;
    color: black;
    text-align: center;
    padding: 22px 26px;
    text-decoration: none;
    font-size: 40px;
    font-family: 'TrebuchetMS', sans-serif;
  }
  
  /* Change the color of links on hover */
    .menu:hover {
    background-color: black;
    color: white;
  }

  .navbar .active{
    background-color: black;
    color: white;
  }
  
/* SLIDESHOW CODE */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  background-color: black;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-family: 'TrebuchetMS', sans-serif;
}

#homecaption1 {
  background-color: rgba(255,255,255,0.5);
  font-size:60px;
  padding: 8px 12px;
  position: absolute;
  top:8%;
  left: 8%;
  text-align: left;
}

#homecaption2 {
  color: #f2f2f2;
  background-color: rgba(0,0,0,0.6);
  font-size: 45px;
  padding: 20px;
  position: absolute;
  top: 0%;
  width: 100%;
  text-align: center;
}

#homecaption3 {
  color: white;
  background-color: black;
  font-size: 40px;
  padding: 20px;
  position: absolute;
  bottom: 4%;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.navbar .icon img {
  display: flex;
  height:40px;
  width: auto;
}

.navbar .yonken {
  display: flex;
  height: 90px;
  width: auto;
  padding-bottom: 10px;
}