@font-face {
  font-family: "TrebuchetMS";
  src: url(TREBUCBD.ttf);
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* NAVBAR CODE STARTS HERE */

.index {
  overflow: hidden;
}

.navbar {
  background-color: white;
  overflow: hidden;
  border-bottom: solid black 5px;
  padding-bottom: 0px;
  height: 90px;
}

.navbar a {
  display: flex;
  float: left;
  color: black;
  padding: 22px 26px;
  font-size: 40px;
  font-family: "TrebuchetMS", sans-serif;
}

.menu:hover {
  background-color: black;
  color: white;
}

.navbar .active {
  background-color: black;
  color: white;
}

.navbar .icon img {
  height: 40px;
  width: auto;
}

.navbar #yonken {
  display: flex;
  height: 90px;
  width: auto;
  padding-bottom: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
}

/* NAVBAR CODE ENDS HERE */

/* INDEX PAGE STARTS HERE */

.centermedia {
  left: auto !important;
  right: auto !important;
}

/* SLIDESHOW CODE STARTS HERE */

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  background-color: black;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* SLIDESHOW CODE ENDS HERE */

.text {
  color: black;
  font-family: "TrebuchetMS", sans-serif;
}

#homecaption1 {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 60px;
  padding: 8px 12px;
  position: absolute;
  top: 8%;
  left: 8%;
  text-align: left;
}

#homecaption2 {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 45px;
  padding: 20px;
  position: absolute;
  top: 0%;
  width: 100%;
  text-align: center;
}

#homecaption3 {
  color: white;
  background-color: black;
  font-size: 40px;
  padding: 20px;
  position: absolute;
  bottom: 4%;
  width: 100%;
  text-align: center;
}

/* INDEX PAGE ENDS HERE */

/* ABOUT PAGE  STARTS HERE */

.banner {
  max-width: 100%;
  position: relative;
  margin: auto;
  background-color: black;
}

.about {
  font-size: 30px;
  padding-left: 20%;
  padding-right: 20%;
}

#myBtn {
  display: none;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 40px;
}

#myBtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* ABOUT PAGE ENDS HERE */

/* DISCOGRAPHY PAGE STARTS HERE */

.heading {
  font-size: 60px;
  padding: 2px 12px 2px;
  position: relative;
  top: 8%;
  left: 6%;
  text-align: left;
  border-bottom: solid black 5px;
  width: 88%;
}

.album {
  width: 100%;
  height: auto;
  padding: 5px 95px;
}

/* DISCOGRAPHY PAGE ENDS HERE */

/* SHOP PAGE STARTS HERE */

.banner-item {
  display: block;
  width: 100%;
  height: 100%;
}

.items {
  margin: auto;
  width: 92%;
  height: auto;
}

.items a {
  width: 25%;
  height: auto;
  padding-left: 55px;
}

.shopitem {
  width: 100%;
  height: auto;
}
/* SHOP PAGE ENDS HERE */

.price {
  color: grey;
  font-size: 22px;
  text-align: center;
}

.base {
  width: 100%;
  height: 125px;
  background-image: linear-gradient(white, white, black);
}
